div#footer{
    bottom:0;
    position:absolute;
	width:100%;
    text-align:center;
}

.spazio
{
   padding-top: 50px;  
}

.spazio15percento
{
   padding-top: 15%;  
}

.altezza18
{
    font-size: 18px;
}
